body{
    background : linear-gradient(90deg, lime , yellow);
}
.logoreset{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Serif;
    font-size: 50px;
}
.box{
    border: 5px solid black;
    border-radius: 20px;
    margin: auto;
    width: 30%;
    font-size: 25px;
    padding-top: 2%;
}
#box{
    text-align: center;
    margin-top: 5%;
}
#message{
    margin-top: 7%;
}
input{
    width: 70%;
    height: 25px;
    border-radius: 20px;
    border-color:rgb(69, 69, 69);
    background-color: rgb(28, 255, 213);
}
#message2{
    margin-top: 3%;
}
#submit{
    width: 35%;
    height: 35px;
    margin-bottom: 10%;
    background-color: rgb(176, 255, 157);
}